/*
	Name: Cheyenne Norsworthy
	File: Assignment2_part2.html
	Date: February 23 2024
	Description: Use the given code to create a cool, fancy looking box.
  */
  
  html {
  font-family: sans-serif;
}

/* Your CSS below here */

  .box{
    width: 200px;
    height: 100px;
    line-height: 100px;
    margin: 0 auto;
    text-align: center;
    font-size: 17px; 
    background-color: blue;
    color: aliceblue;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border: 1px solid rgb(4, 4, 142); 
    background: linear-gradient(bottom right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 30%, rgba(0,0,0,0.2) 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3),
                inset 5px 5px 10px rgba(255, 255, 255, 0.5), 
                inset -5px -5px 10px rgba(0, 0, 0, 0.5);     

  } 